<fieldset>
    <legend>{{ localize "N5EB.Chakra" }}</legend>
    <div class="form-group">
        <label>{{ localize "N5EB.ChakraDie" }}</label>
        <span class="form-field-readonly">{{ chakraDie }}</span>
    </div>
    <div class="form-group">
        <label>{{ localize "N5EB.ADVANCEMENT.Chakra.Starting" }}</label>
        <span class="form-field-readonly">{{ advancement.chakraDieValue }}</span>
    </div>
    <div class="form-group">
        <label>{{ localize "N5EB.ADVANCEMENT.Chakra.Average" }}</label>
        <span class="form-field-readonly">{{ advancement.average }}</span>
    </div>
</fieldset>
