<form id="{{appId}}" data-level="{{level}}" data-id="{{advancement.id}}" data-type="{{type}}">
    <h3>{{{title}}}</h3>
    {{#if hint}}<p>{{ hint }}</p>{{/if}}

    {{#if isFirstClassLevel}}

    <div>
        {{{localize "N5EB.AdvancementChakraPointsMaxAtFirstLevel" max=dieValue}}}
        <input type="hidden" name="useMax" value="true" data-dtype="Boolean">
    </div>

    {{else}}

    <div class="rolls">
        <label class="averageLabel">
            <span>{{localize "N5EB.AdvancementHitPointsAverage"}}</span>
            <input class="averageCheckbox" type="checkbox" name="useAverage" {{checked data.useAverage}}>
        </label>
        <label class="maxLabel">
            <span>{{localize "N5EB.AdvancementHitPointsMax"}}</span>
            <input class="maxCheckbox" type="checkbox" name="useMax" {{checked data.useMax}}>
        </label>
        <input class="rollResult" type="number" name="value" value="{{data.value}}" {{disabled (or data.useAverage data.useMax)}}>
        <button class="rollButton" type="button" name="roll" {{disabled (or data.useAverage data.useMax)}}>
            <i class="fas fa-dice-d20"></i> {{localize "N5EB.AdvancementChakraPointsRollButton" die=chakraDie}}
        </button>
    </div>

    {{/if}}
</form>
