<fieldset>
    <legend>{{ localize "N5EB.JUTSU.Details" }}</legend>

    {{!-- Jutsu Rank --}}
    {{ formField fields.rank value=source.rank options=jutsuRankOptions localize=true rootId=partId }}

    {{!-- Jutsu Type --}}
    {{ formField fields.jutsu.fields.type value=source.jutsu.type options=jutsuTypeOptions
                 label="N5EB.JUTSU.Type.Label" blank="N5EB.JUTSU.Unclassified" localize=true rootId=partId }}

    {{!-- Jutsu Components --}}
    {{ formField fields.jutsu.fields.components value=source.jutsu.components options=jutsuComponentOptions
                 label="N5EB.JUTSU.Components" localize=true input=inputs.createMultiCheckboxInput stacked=true
                 classes="checkbox-grid checkbox-grid-3" rootId=partId }}

    {{!-- Jutsu Keywords --}}
    {{ formField fields.jutsu.fields.keywords value=source.jutsu.keywords options=jutsuKeywordOptions
                 label="N5EB.JUTSU.Keywords" localize=true input=inputs.createMultiCheckboxInput stacked=true
                 classes="checkbox-grid checkbox-grid-3" rootId=partId }}

    <div class="collapsible genjutsu-stimuli {{#unless genjutsuStimuli.expanded}}collapsed{{/unless}}"
         data-expand-id="{{ genjutsuStimuli.expandId }}">
        <button type="button" class="unbutton genjutsu-stimuli-toggle" data-action="toggleCollapsed">
            <i class="fa-solid fa-caret-down" inert></i>
            <span>{{ localize "N5EB.JUTSU.GenjutsuStimuli" }}</span>
            {{#if genjutsuStimuli.selectedCount}}
            <span class="stimuli-count">{{ genjutsuStimuli.selectedCount }}</span>
            {{/if}}
        </button>
        <div class="collapsible-content">
            <div class="wrapper">
                <div class="genjutsu-stimuli-options checkbox-grid checkbox-grid-3">
                    <div class="form-fields">
                    {{#each genjutsuStimulusOptions}}
                        <label class="checkbox">
                            <dnd5e-checkbox name="system.jutsu.keywords.{{ value }}" {{ checked selected }}></dnd5e-checkbox>
                            <span>{{ label }}</span>
                        </label>
                    {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Chakra Cost --}}
    <div class="form-group split-group">
        <label>{{ localize "N5EB.JUTSU.Chakra" }}</label>
        <div class="form-fields">
            {{ formField fields.chakra.fields.cost value=source.chakra.cost label="N5EB.JUTSU.ChakraCost"
                         localize=true classes="label-top" rootId=partId }}
            {{ formField fields.chakra.fields.special value=source.chakra.special label="N5EB.JUTSU.SpecialCost"
                         localize=true classes="label-top" rootId=partId }}
        </div>
    </div>
    <div class="form-group split-group">
        <label>{{ localize "N5EB.JUTSU.Scaling.Label" }}</label>
        <div class="form-fields">
            {{ formField fields.chakra.fields.scaling.fields.mode value=source.chakra.scaling.mode
                         options=jutsuChakraScalingModeOptions label="N5EB.JUTSU.Scaling.Mode" localize=true
                         classes="label-top" rootId=partId }}
            {{ formField fields.chakra.fields.scaling.fields.value value=source.chakra.scaling.value
                         label="N5EB.JUTSU.Scaling.Value" localize=true classes="label-top" rootId=partId }}
        </div>
        <p class="hint">{{ localize "N5EB.JUTSU.Scaling.Hint" }}</p>
    </div>

    {{!-- Known Counting --}}
    {{ formField fields.jutsu.fields.countsKnown value=source.jutsu.countsKnown input=inputs.createCheckboxInput
                 label="N5EB.JUTSU.CountsKnown" localize=true rootId=partId }}

    {{!-- Legacy compatibility fields --}}
    <input type="hidden" name="system.level" value="{{ source.level }}">
    <input type="hidden" name="system.school" value="{{ source.school }}">
    <input type="hidden" name="system.method" value="{{ source.method }}">
    <input type="hidden" name="system.prepared" value="{{ source.prepared }}">

    {{!-- Spell Source --}}
    {{#if isEmbedded}}
    {{ formField fields.sourceItem value=source.sourceItem localize=true
                 options=spellcastingClasses blank="" label="DND5E.SourceItem.Label" rootId=partId
                 disabled=sourceItemLocked hint=sourceItemHint }}

    {{ formField fields.jutsu.fields.ability value=source.jutsu.ability localize=true choices=CONFIG.abilities
                 labelAttr="label" blank=defaultAbility rootId=partId }}
    {{/if}}
</fieldset>

<fieldset>
    <legend>{{ localize "DND5E.Casting" }}</legend>

    {{!-- Activation --}}
    {{> "dnd5e.field-activation" activation=system.activation fields=fields.activation.fields data=source.activation
        activationTypes=activationTypes inputs=inputs label="DND5E.SpellCastTime" }}

    {{!-- Range --}}
    {{> "dnd5e.field-range" range=system.range fields=fields.range.fields data=source.range rangeTypes=rangeTypes
        inputs=inputs }}

    {{!-- Duration --}}
    {{> "dnd5e.field-duration" duration=system.duration fields=fields.duration.fields data=source.duration
        durationUnits=durationUnits inputs=inputs }}
</fieldset>

{{> "dnd5e.field-targets" target=system.target fields=fields.target.fields data=source.target inputs=inputs
    disabled=false }}
