<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'N5EB.ItemName' }}">
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
                <span class="item-status">{{itemSubStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{labels.featType}}
                </li>
                <li>
                    <input type="text" name="system.requirements" value="{{system.requirements}}" placeholder="{{ localize 'N5EB.Requirements' }}">
                </li>
                <li>
                    {{> "n5eb.item-source"}}
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "N5EB.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "N5EB.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "N5EB.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "n5eb.item-description" }}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "N5EB.ItemFeatureDetails" }}</h3>

            {{!-- Feature Type --}}
            <div class="form-group">
                <label>{{ localize "N5EB.ItemFeatureType" }}</label>
                <select name="system.type.value">
                    {{ selectOptions config.featureTypes selected=system.type.value blank="" labelAttr="label" }}
                </select>
            </div>

            {{#if itemSubtypes}}
            <div class="form-group">
                <label>
                    {{ localize "N5EB.ItemFeatureSubtype"
                                category=(lookup (lookup config.featureTypes system.type.value) "label") }}
                </label>
                <select name="system.type.subtype">
                    {{ selectOptions itemSubtypes selected=system.type.subtype blank="" }}
                </select>
            </div>
            {{/if}}

            {{#if (lookup itemNestedSubtypes system.type.subtype)}}
            <div class="form-group">
                <label>
                    {{ localize "N5EB.ItemFeatureNestedSubtype"
                                category=(lookup (lookup config.featureTypes system.type.value) "label")
                                subtype=(lookup itemSubtypes system.type.subtype) }}
                </label>
                <select name="system.type.nestedsubtype">
                    {{ selectOptions (lookup itemNestedSubtypes system.type.subtype) selected=system.type.nestedsubtype blank="" }}
                </select>
            </div>
            {{/if}}

            {{!-- Feature Properties --}}
            <div class="feature-properties form-group stacked">
                <label>{{ localize "N5EB.ItemFeatureProperties" }}</label>
                {{#each properties}}
                <label class="checkbox">
                    <input type="checkbox" name="system.properties.{{ @key }}" {{ checked selected }}> {{ label }}
                </label>
                {{/each}}
            </div>

            <h3 class="form-header">{{ localize "N5EB.Prerequisites.Header" }}</h3>

            <div class="form-group">
                <label>{{ localize "N5EB.Prerequisites.FIELDS.prerequisites.level.label" }}</label>
                {{ numberInput system.prerequisites.level name="system.prerequisites.level" step=1 }}
                <p class="hint">{{ localize "N5EB.Prerequisites.FIELDS.prerequisites.level.hint" }}</p>
            </div>

            {{#if system.isEnchantmentSource}}
            <h3 class="form-header">{{ localize "N5EB.Enchantment.Label" }}</h3>

            <div class="form-group">
                <label>{{ localize "N5EB.Enchantment.FIELDS.enchantment.items.max.label" }}</label>
                <input type="text" name="system.enchantment.items.max" value="{{ source.enchantment.items.max }}">
                <p class="hint">{{ localize "N5EB.Enchantment.FIELDS.enchantment.items.max.hint" }}</p>
            </div>
            
            <div class="form-group">
                <label>{{ localize "N5EB.Enchantment.FIELDS.enchantment.items.period.label" }}</label>
                <select name="system.enchantment.items.period">
                    {{ selectOptions config.enchantmentPeriods selected=system.enchantment.items.period
                                     labelAttr="label" blank=(localize "N5EB.UsesPeriods.Never") }}
                </select>
                <p class="hint">{{ localize "N5EB.Enchantment.FIELDS.enchantment.items.period.hint" }}</p>
            </div>

            {{/if}}

            <h3 class="form-header">{{ localize "N5EB.FeatureUsage" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "n5eb.item-activation"}}

            <h3 class="form-header">{{ localize "N5EB.FeatureAttack" }}</h3>

            {{!-- Item Action Template --}}
            {{> "n5eb.item-action"}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "n5eb.active-effects"}}
        </div>
    </section>
</form>
