<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
    {{!-- Jutsu Casting --}}
    <section class="top jutsu-casting-overview">
        <div class="jutsu-casting-row">
        {{#each spellcasting}}
        <div class="spellcasting card {{#if isClassmodArts}}classmod-arts{{/if}}" data-jutsu-type="{{ key }}"
             data-ability="{{ ability.ability }}" {{#if style}}style="{{ style }}"{{/if}}>
            <div class="header">
                <h3>{{ label }}</h3>
                {{#if isClassmodArts}}
                <span class="spellcasting-ability subtitle">{{ ability.label }}</span>
                {{else}}
                {{#if @root.editable}}
                <select name="system.attributes.jutsu.{{ key }}.ability">
                    {{ selectOptions @root.CONFIG.abilities selected=ability.ability labelAttr="label" blank="" }}
                </select>
                {{else}}
                <span class="spellcasting-ability subtitle">{{ ability.label }}</span>
                {{/if}}
                {{/if}}
            </div>
            <div class="info">
                <div class="ability">
                    <span class="label">{{ localize "DND5E.Ability" }}</span>
                    {{#if isClassmodArts}}
                    <span class="value">&mdash;</span>
                    {{else}}
                    <span class="value">{{ dnd5e-formatModifier ability.mod }}</span>
                    {{/if}}
                </div>
                <div class="attack">
                    <span class="label">{{ localize "DND5E.Attack" }}</span>
                    <span class="value">{{ dnd5e-formatModifier attack }}</span>
                </div>
                <div class="save">
                    <span class="label">{{ localize "DND5E.SpellDC" }}</span>
                    <span class="value">{{ save }}</span>
                </div>
                {{#unless isClassmodArts}}
                {{#if @root.editable}}
                {{#with (lookup @root.source.attributes.jutsu key) as |sourceCasting|}}
                <div class="attack-bonus">
                    <span class="label">{{ localize "N5EB.JUTSU.AttackBonus" }}</span>
                    <input type="text" name="system.attributes.jutsu.{{ ../key }}.bonuses.attack"
                           value="{{ sourceCasting.bonuses.attack }}" placeholder="0">
                </div>
                <div class="save-bonus">
                    <span class="label">{{ localize "N5EB.JUTSU.DCBonus" }}</span>
                    <input type="text" name="system.attributes.jutsu.{{ ../key }}.bonuses.dc"
                           value="{{ sourceCasting.bonuses.dc }}" placeholder="0">
                </div>
                {{/with}}
                {{/if}}
                {{/unless}}
            </div>
        </div>
        {{/each}}
        </div>

        <div class="jutsu-known-row">
        {{#with jutsuKnown}}
        <div class="spellcasting card jutsu-known">
            <div class="header">
                <h3>{{ localize "N5EB.JUTSU.Known" }}</h3>
                <span class="jutsu-known-summary subtitle">
                    <span class="count">{{ value }}</span>
                    {{#if hasMax}}<span class="separator">&sol;</span><span class="max">{{ max }}</span>{{/if}}
                    <span class="dot">&middot;</span>
                    <span class="rank">{{#if maxRankLabel}}{{ maxRankLabel }}{{else}}&mdash;{{/if}}</span>
                </span>
            </div>
        </div>
        {{/with}}
        </div>
    </section>

    {{!-- Jutsu --}}
    {{> "systems/n5eb/templates/inventory/inventory.hbs" keepEmpty=true }}

</section>
